body {
    display: grid;  
    grid-gap: 10px;
    grid-template-rows: auto auto 1fr auto;
    min-height: 90vh;
    background-color: black;
    font-family: 'Helvetica';
}

h1, h2, h3, h4, h5, h6, p {
    margin:0;
}

div {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}

.button {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px 32px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

#header, #footer {
    text-align:center;
    background-color: transparent;
    color: whitesmoke;
    padding:0;
}
